* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}
body {
  background-color: #bcffeb;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calculator {
  box-sizing: content-box;
  width: 250px;
  background: #2b2c2d;
  border: 5px solid #28292a;
  border-radius: 10px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.25);
}
.visor {
  height: 105px;
  background-color: #74ff74;
  border-top: 5px solid #0c620c54;
  border-bottom: 5px solid #0c620c54;
  font-family: 'calculator';
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 7px;
  padding: 5px 17px;
  border-radius: 3px;
}
.register {
  flex: none;
  height: 23.2px;
  font-size: 20px;
}
.operation {
  flex: none;
  height: 57.6px;
  font-size: 45px;
}
.grid {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
}
.grid button:hover {
  opacity: 0.6;
}
.grid button:active {
  opacity: 0.2;
}
.grid button {
  background-color: rgb(57 57 57);
  color: white;
  font-size: 27px;
  border-radius: 5px;
  border: 2px solid #474747;
  width: 55px;
  height: 55px;
  cursor: pointer;
}
button.operator {
  background-color: #eea520;
}
button.equals {
  background-color: #7c7c7c;
}
button.clear  {
  background-color: #ce2828;
}